* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  background: linear-gradient(90deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}

@media screen and (max-width: 992px) {
  #responsive-form {
    width: 90% !important;
    padding: 1.3em !important;
  }
}
